mixin main-nav()
  nav.main-nav
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href="#", aria-label="Ссылка на главную") Главная
      li.main-nav__item
        span.main-nav__link.is-active Библиотека
