mixin search-form
  .search-form
    form
      .search-form__wrapper
        .search-form__field(tabindex="0")
          input(type="text", placeholder="Поиск по названию")

        .search-form__field(tabindex="0", data-search-toggle="author")
          .search-form__dropdown
            .search-form__dropdown-top
              h3.search-form__dropdown-title(data-title="Автор") Автор
              +icon("icon_arrow", 24, 24).search-form__dropdown-icon

        .search-form__field(tabindex="0", data-search-toggle="genre")
          .search-form__dropdown
            .search-form__dropdown-top
              h3.search-form__dropdown-title(data-title="Жанр") Жанр
              +icon("icon_arrow", 24, 24).search-form__dropdown-icon

      .search-form__buttons
        +btn({ text: "Поиск", ariaLabel: "Поиск", }).btn.btn--search

        +btn({ type: "reset", text: "Сбросить", ariaLabel: "Сбросить", }).btn.btn--reset

      .search-form__footer
        .search-form__dropdown-content(data-search-content="author")
          ul.search-form__dropdown-list
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Автор 1
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Автор 2
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Автор 3

        .search-form__dropdown-content(data-search-content="genre")
          ul.search-form__dropdown-list
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Хирургия
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Онкология
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Женское здоровье
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Кардиология
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Маммология
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Ядерная медицина
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Травматология и ортопедия
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Урология
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Метаболическая коррекция
            li.search-form__dropdown-item
              a.search-form__dropdown-link(href="#") Реабилитация
