mixin hero
  .hero
    .hero__image
      +img("content", "hero", "jpg", 1280, 650, "")
    .hero__content
      .hero__content-wrapper
        h1.hero__title Библиотека
        p.hero__description Также как граница обучения кадров требует анализа поэтапного и&nbsp;последовательного развития общества.
