doctype html

include ../components.pug

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    meta(content="ie=edge", http-equiv="X-UA-Compatible")
    meta(content="library-demo", name="description")

    link(href="/scss/style.scss", rel="stylesheet")

  body
    +header(currentUrl)

  block main
  block scripts
