@use '../mixins';

@use '../variables';

.btn {
  padding: 14px 20px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: variables.$color-rhino;

  text-transform: uppercase;

  background-color: variables.$color-default-white;
  border: 1px solid variables.$color-solitude;

  transition: border-color variables.$trans-default;

  @media (hover: hover) {

    &:hover {
      border-color: variables.$color-apple;
    }
  }

  &:active {
    border-color: variables.$color-default-white;
  }

  &--search {
    border: 1px solid transparent;
    background-color: variables.$color-apple;
    color: variables.$color-default-white;

    transition:
      background-color variables.$trans-default,
      color variables.$trans-default;

    @media (hover: hover) {

      &:hover {
        background-color: variables.$color-default-white;
        color: variables.$color-apple;
      }
    }

    &:active {
      background-color: variables.$color-apple;
      color: variables.$color-default-white;
    }
  }
}
