@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: Inter;

  font-display: swap;
  src:
    url('../fonts/InterLight.woff2') format('woff2'),
    url('../fonts/InterLight.woff') format('woff'),
    url('../fonts/InterLight.ttf') format('otf');
}


